@model IEnumerable<BasaDate.Models.visitor>

@{
    ViewBag.Title = "Посетители";
}

<h2>Посетители</h2>

<p>
    @Html.ActionLink("Добавить запись", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>Полное имя</p>
        </th>
        <th>
            <p>Дата рождения</p>
        </th>
        <th>
            <p>Номер телефона</p>
        </th>
        <th></th>
    </tr>

    @using (Html.BeginForm("Index", "visitors", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-10">
                <label for="query">
                    <input type="text" name="search" class="form-control" />
                </label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Поиск" class="btn btn-default" />
            </div>
        </div>
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.full_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone_number)
            </td>
            <td>
                @Html.ActionLink("Изменение", "Edit", new { id = item.id }) |
                @Html.ActionLink("Подробнее", "Details", new { id = item.id }) |
                @Html.ActionLink("Удаление", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
