@model BasaDate.Models.personal_computer

@{
    ViewBag.Title = "Подробнее";
}

<h2>Подбробнее</h2>

<div>
    <h4>ПК</h4>
    <hr />
    <dl class="dl-horizontal">
         <dt>
            <p>Операционная система</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.software.os)
        </dd>
        
        <dt>
            <p>Клавиатура</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.keyboard)
        </dd>

        <dt>
            <p>Мышь</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.computer_mouse)
        </dd>

        <dt>
            <p>Монитор</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monitor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Изменение", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Назад", "Index")
</p>
